* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', sans-serif;
}

h1 {
    font-family: 'Briem Hand', cursive;
    font-size: 32px;
    color: white;
    margin-left: 30px;
    margin-top: 10px;
    display: inline;
}

h2 {
    font-size: 28px;
}

nav {
    background-color: #680404f1;
    padding: none;
    margin: none;
}

.button-class {
    width: 200px;
    background-color: #f8dfd5;
    border: none;
    color: #ba8e70;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.2s;
    cursor: pointer;
    background-color: #f8dfd5;
    color: black;
    border: 2px solid #ba8e70;
}